@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}


<!--=========== BEGIN SLIDER SECTION ================-->
@Html.Action("_SliderPartial", "Home")
<!--=========== END SLIDER SECTION ================-->
<!--=========== BEGIN ABOUT US SECTION ================-->
<section id="aboutUs">
    <div class="container">
        <div class="row">
            <!-- Start about us area -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="aboutus_area wow fadeInLeft">
                    <h2 class="titile">Hakkımızda</h2>
                    <p>
                        Hat Aydınlatma Elektrik temellerini 1990 yılında atmış ve halen sizlere hizmet vermektedir.
                        Ayedaş şefliğinden ayrılan Ahmet Al'ın kurmuş olduğu firma yetkili elektrik Fen Adamı Belgesi,
                        Elektrik teknikerliği ve bireysel olarak kazanılan bilgi birikimile önceleri perakende satış sistemi, proje, talep, taahhüt
                        inşaat, arıza, bakım ve onarım olarak hizmet vermekteyken 2015 yılında toptan satış sistemini de bünyesine katarak giderek büyümeye
                        devam ediyor.Sizlere daha iyi hizmet sunmak için kendini sürekli olarak yenileyen geniş bir vizyonu bulunmakta.Firmamız
                        içerisinde bulunduğu geniş ürün yelpazesi ile elektrik malzemeleri toptan ve perakende satışının yanı sıra avize satışıyla
                        da dikkatleri üstüne çeken firmamız güven ve toptan elektrik satış mağazası olan Hat Aydınlatma Elektrik İnş. San. Tic. LTd. Şti. 850 M2'lik
                        devasa bir alanda sizlere hizmet vermeye devam etmektedir.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="newsfeed_area wow fadeInRight">
                    <ul class="nav nav-tabs feed_tabs" id="myTab2">
                        <li class="active"><a href="#news" data-toggle="tab">Kampanyalar</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Start news tab content -->
                        <div class="tab-pane fade in active" id="news">
                            @Html.Action("_KampanyaPartial", "Home")


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END ABOUT US SECTION ================-->
<!--=========== BEGIN WHY US SECTION ================-->
<section id="whyUs">
    <!-- Start why us top -->
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="whyus_top">
                <div class="container">
                    <!-- Why us top titile -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="title_area">
                                <h2 class="title_two">Neden Biz</h2>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Why us top titile -->
                    <!-- Start Why us top content  -->
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="single_whyus_top wow fadeInUp">
                                <div class="whyus_icon">
                                    <span class="fa fa-desktop"></span>
                                </div>
                                <h3>Teknoloji</h3>
                                <p>
                                    İlerleyen Teknolojilerden yararlanarak kendi ürettiğimiz cihazları sizlerle buluşturuyoruz.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="single_whyus_top wow fadeInUp">
                                <div class="whyus_icon">
                                    <span class="fa fa-users"></span>
                                </div>
                                <h3>Düşük Maliyet</h3>
                                <p>
                                    Düşük maliyetle yüksek kaliteyi birleştiriyoruz ve pendiğin en büyük firması olarak sizlere hizmet sunuyoruz.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="single_whyus_top wow fadeInUp">
                                <div class="whyus_icon">
                                    <span class="fa fa-flask"></span>
                                </div>
                                <h3>
                                    Tasarruflu Elektrik
                                </h3>
                                <p>Hat Aydınlatma & Elektrik Müşterisi olmaya karar verdiğiniz andan itibaren, tasarruf etmeye başlarsınız.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="single_whyus_top wow fadeInUp">
                                <div class="whyus_icon">
                                    <span class="fa fa-support"></span>
                                </div>
                                <h3>Destek</h3>
                                <p>Siz Değerli Müşterilerimize kalite ve güvenilirlik garantisi veriyoruz.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Why us top content  -->
                </div>
            </div>
        </div>
    </div>
    <!-- End why us top -->
    <!-- Start why us bottom -->
    <!-- End why us bottom -->
</section>
<!--=========== END WHY US SECTION ================-->
<!--=========== BEGIN OUR COURSES SECTION ================-->
@Html.Action("_SonEklenenUrunlerAnasayfa", "Home")
<!--=========== Referanslar ================-->
<section id="ourTutors">
    <div class="container">
        <!-- Our courses titile -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title_area">
                    <h2 class="title_two">Referanslarımız</h2>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- End Our courses titile -->
        <!-- Start Our courses content -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ourTutors_content">
                    <!-- Start Tutors nav -->
                    @Html.Action("_ReferansPartial", "Home")
                </div>
            </div>
        </div>
        <!-- End Our courses content -->
    </div>
</section>
<!--=========== Referanslar Bitiş ================-->
